
{% extends "base.html" %}
{% load static %}
{% block link %}{% endblock link %}
{% block title %}<title>Aamal Al Arif Trading Est. complete electrical solution in saudi arabia</title>{% endblock title %}
{% block content %}
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Blog</h1>
								<p class="mb-4">Stay updated with Aamal Al Arif Trading Est. through our blog. Discover industry insights, product updates, and expert tips on EMT conduits and fittings. Check back regularly for the latest posts.</p>
								<p><a href="products.html" class="btn btn-secondary me-2">Shop Now</a><a href="docs/aamal al arif home page preview.pdf" download class="btn btn-white-outline">Catalogue</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				
				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/post-1.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#"> Understanding Different Types of Electrical Conduits</a></h3>
								<div class="meta">
									<span>by <a href="#">Sulthan kizhisseri</a></span> <span>on <a href="#">Jul 10, 2024</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/post-2.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Top 5 Innovations in Electrical Fittings</a></h3>
								<div class="meta">
									<span>by <a href="#">Sulthan kizhisseri</a></span> <span>on <a href="#">Jul 11, 2024</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/post-3.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">How to Choose the Right Electrical Conduit for Your Project</a></h3>
								<div class="meta">
									<span>by <a href="#">Sulthan kizhisseri</a></span> <span>on <a href="#">Jul 10, 2024</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/post-1.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Safety First: Best Practices for Installing Electrical Conduits and Fittings</a></h3>
								<div class="meta">
									<span>by <a href="#">Sulthan kizhisseri</a></span> <span>on <a href="#">Jul 08, 2024</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/post-2.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">The Future of Electrical Conduits and Fittings: Trends to Watch</a></h3>
								<div class="meta">
									<span>by <a href="#">Sulthan kizhisseri</a></span> <span>on <a href="#">Jul 10, 2024</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
		<!-- End Blog Section -->	

		

		<!-- Start Footer Section -->
	
		<!-- End Footer Section -->	
		{% endblock content %}
		{% block script %}{% endblock script %}

