{% load static %}
	<!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">

            <div class="sofa-img">
                <img src="{% static "images/metalconduitglands.png" %}" alt="Image" class="img-fluid">
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="subscription-form">
                        <h3 class="d-flex align-items-center">
                            <span class="me-1"><img src="{% static 'images/envelope-outline.svg' %}" alt="Image" class="img-fluid"></span>
                            <span>Subscribe to Newsletter</span>
                        </h3>
            
                        <form action="{% url 'authentication:subscribe' %}" method="post" class="row g-3">
                            {% csrf_token %}
                            <div class="col-auto">
                                <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
                            </div>
                            <div class="col-auto">
                                <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">
                                    <span class="fa fa-paper-plane"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            

            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><img class="footer-logo" src="{% static "./images/company-logo.png" %}" alt="company logo"></div>
                    <p class="mb-4">+966 53 552 8371<br/>
                        info@aamalalarif.com<br/>
                        Prince Nayif Street,
                        Cross 11,<br/>
                        Shamaliyah Al Khobar
                        Po Box -430<br/>
                        Kingdom of Saudi Arabia</p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="row links-wrap">
                        <div class="col-6 col-sm-6 col-md-3">
                            <h6 style="color: black;">Infos</h6>
                            <ul class="list-unstyled">
                                <li><a href="./index.html">Home</a></li>
                                <li><a href="./about.html">About us</a></li>
                                <li><a href="./certification.html">Certification</a></li>
                                <li><a href="./contact.html">Contact us</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <h6 style="color: black;">Keys</h6>
                            <ul class="list-unstyled">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Availability</a></li>
                                <li><a href="#">Reliability</a></li>
                                <li><a href="#">Knowledge base</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <h6 style="color: black;">Links</h6>
                            <ul class="list-unstyled">
                                <li><a href="blog.html">Blogs</a></li>
                                <li><a href="./products.html">Products</a></li>
                                <li><a href="privacypolicy.html">Privacy Policy</a></li>
                                <li class="me-4"><a href="termsandconditions.html">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <h6 style="color: black;">Picks</h6>
                            <ul class="list-unstyled">
                                <li><a href="#">Wiring Tools</a></li>
                                <li><a href="#">Electrical Conduit</a></li>
                                <li><a href="#">Cable Management</a></li>
                                <li><a href="#">Pipe Support System</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; <a>Aamal Al Arif Trading Est.</a>  <!-- License information: https://untree.co/license/ -->
        </p>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-unstyled d-inline-flex ms-auto">
                            <li class="me-4"><a href="termsandconditions.html">Terms &amp; Conditions</a></li>
                            <li><a href="privacypolicy.html">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer Section -->	