    {% extends "base.html" %}
    {% load static %}
    {% block link %}

	{% endblock link %}
	{% block title %}Aamal Al Arif Trading Est. complete electrical solution in saudi arabia{% endblock title %}
	{% block content %}


		

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Electrical Conduit <span clsas="d-block">and Fittings</span></h1>
								<p class="mb-4">A'amal al arif trading est., is a leading supplier and distributor of electrical and metal products in Saudi Arabia. With a wide range of quality products including electrical conduit&fittings, cables and components, electromechanical products, and more.</p>
								<p><a href="{% url "catalogue:products" %}" class="btn btn-secondary me-2">Shop Now</a>
									<a href="{% static "docs/aamal al arif home page preview.pdf" %}" download class="btn btn-white-outline">Brochure</a></p>
							</div>
						</div>
					    <div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static "images/hero-img.png" %}" class="img-fluid">
							</div>
						</div>  
					</div>
				</div>
			</div>     
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Quality conduit &amp; emt fittings</h2>
						<p class="mb-4">We are a trusted distributor of electrical and metal products in Saudi Arabia, offering high-quality items such as cables, conduits, instrumentation components, and wiring tools. Explore our range today! </p>
						<p><a href="{% url "catalogue:products" %}" class="btn">Explore</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="products.html">
							<img src="{% static "images/emtconduit1.png" %}" class="img-fluid product-thumbnail">
							<h3 class="product-title"> <a href="{% url "catalogue:products" %}">EMT Compression Connector,Zinc</a></h3>
							

							<span class="icon-cross">
								<img src="{% static "images/cross.svg" %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="products.html">
							<img src="{% static "images/emtconduit2.png" %}" class="img-fluid product-thumbnail">
							<h3 class="product-title"><a href="{% url "catalogue:products" %}">EMT Set Screw Connector Insulated,Steel</a></h3>
							

							<span class="icon-cross">
								<img src="{% static "images/cross.svg" %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="products.html">
							<img src="{% static "images/emtconduit3.png" %}" class="img-fluid product-thumbnail">
							<h3 class="product-title"> <a href="{% url "catalogue:products" %}">EMT 90 Degree Elbow,PG</a></h3>
							

							<span class="icon-cross">
								<img src="{% static "images/cross.svg" %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->

				</div>
			</div>
		</div>
		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Why Choose Us</h2>
						<p>We provide wide range of products across the country and abroad</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static "images/truck.svg" %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Fast  Shipping</h3>
									<p>We understand the importance of receiving your orders quickly. That's why we offer fast and reliable shipping options to ensure your purchases arrive at your doorstep in no time. Enjoy expedited delivery and track your package every step of the way.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static "images/bag.svg" %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Easy to Purchase</h3>
									<p>To save your time we have put an easy ordering process in place. You are now free from all shop visits and hassles of waiting. Order online from any where and at any time . You can also Whatsapp us your purchase requirements, your order list or your queries. You can also get Online Quotes and Estimates.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static "images/support.svg" %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Genuine Products</h3>
									<p>We are a distinguished name in the industry as our products and services are of very superior quality and available at optimum prices. Our dedicated clientele has grown exponentially as they trust our products to be genuine, reliable, and long-lasting.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static "images/return.svg" %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Hassle Free Returns</h3>
									<p>We have a quick turnaround time, and easy return policies. We can handle bulk orders which will be delivered on time. In case your requirements change after delivery of the goods, we will help you with our hassle-free return policies.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static "images/why-choose-us-img.jpg" %}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="{% static "images/img-grid-1.jpg" %}" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="{% static "images/img-grid-2.jpg" %}" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="{% static "images/img-grid-3.jpg" %}" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">We Help You Find Exact Fittings</h2>
						<p> we are supplying main and sub contractors and maintainance companies from over the kingdom. Some of our supplies are...</p>

						<ul class="list-unstyled custom-list my-4">
							<li>Electrical Conduit(UL Type).Electrical Metallic Tubing(UL797), Intermediate Metal Conduit (IMC-UL1242), Rigid Metal Conduit(RMC/RSC-UL6)</li>
							<li>BS4662 Switch and Socket Box3x3, 3x6, 1+1, 1+2, 1+1+1, 1+1+2, Extension Box, Dry Lining Box, Surface Pattress Box</li>
							<li>Switch and SocketBS Switch and socket(UK Type),BS Switch and Socket(Yemen Type),Peru Switch and Socket,UL Switch and Socket.</li>
							<li>Electrical Conduit(BS Type)BS4568 GI Conduit(1970), BS31 GI Conduit (1940),class 3 and class 4.</li>
						</ul>
						<p><a href="{% url "catalogue:products" %}" class="btn">Explore</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->

		<!-- Start Popular Product -->
		<div class="popular-product">
			<div class="container">
				<div class="row">

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="{% static "images/product-1.png" %}" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>EMT to Flex Coupling</h3>
								<p>Material- Zinc Die Cast<br/>
									Finish- Galvanized<br/>
									Type- Un-insulated<br/>
									Standard- UL 514B<br/>
									Size- 1/2"  3/4" 1"<br/>
								</p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="{% static "images/product-2.png" %}" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Pull Corner Elbow Rigid to Box</h3>
								<p>Material- Zinc Die Cast<br/>
									Finish- Galvanized<br/>
									Standard- UL 514B<br/>
								    Thread- NPT<br/>
								    Size- 1/2" to 1"<br/>
								</p>
									<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="{% static "images/product-3.png" %}" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>EMT Set Screw Service Entrance Cap</h3>
								<p>Material- Zinc Die Cast<br/>
								   Finish- Galvanized<br/>
								   Standard- UL514 B<br/>
								   Size- 1/2"  to 4"<br/>
								</p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Popular Product -->

		<!-- start  partners Section -->

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
					<div class="partners">
						<h2>Our Partners</h2>
						<a>------------</a>
					</div>

		      		<!-- Start Column 1 -->
					  <div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p1.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p2.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p3.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p4.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 4 -->


					<!-- Start Column 1 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p5.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p6.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p7.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p8.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 4 -->

					 <!-- Start Column 1 -->
					 <div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p9.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p10.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p11.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p12.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 4 -->

					<!-- Start Column 1 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p13.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p14.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p15.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p16.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 4 -->


					<!-- Start Column 1 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p17.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-3 col-md-3 col-lg-2 mb-5">
						<a class="product-item" href="#">
							<img src="{% static "images/p18.png" %}" class="img-fluid product-thumbnail">
						</a>
					</div>
					<!-- End Column 2 -->

		      	</div>
		    </div>
		</div>
		<!-- End  partners Section --> 
		
		{% include "footer.html" %}

	
		{% endblock content %}
        {% block script %}

        {% endblock script %}