{% load static %}
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <img class="navbar-brand" src="{% static "./images/company-logo.png" %}" alt="company logo">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "authentication:home" %}">Home</a>
                </li>
                <li><a class="nav-link" href="{% url "catalogue:catalogue" %}">Catalogue</a></li>
                <li><a class="nav-link" href="{% url "authentication:about" %}">About us</a></li>
                <li><a class="nav-link" href="{% url "catalogue:products" %}">Products</a></li>
                <li><a class="nav-link" href="{% url "authentication:contact" %}">Contact us</a></li>
                {% if user.is_superuser %}
                <li><a class="nav-link" href="{% url "authentication:useradmin" %}">Administration</a></li>
                <li><a class="nav-link" href="{% url "authentication:logout" %}">logout</a></li>
                
                {% endif %}
            </ul>

        </div>
    </div>
        
</nav>





