
{% extends "base.html" %}
{% load static %}
{% block link %}
   <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            padding: 0;
        }
        
        h1, h2 {
            text-align: center;
            color: #333;
        }
        p {
            margin-bottom: 1em;
        }
        ul {
            margin: 0 0 1em 1.5em;
        }
    </style>
{% endblock link %}
{% block title %}
<title>Privacy Policy - Aamal Al Arif Trading Est</title>
{% endblock title %}
{% block content %}

	<!-- End Header/Navigation -->
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>Effective Date: 01/08/2024</p>
    
        <h2>Introduction</h2>
        <p>Welcome to Aamal Al Arif Trading Est. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice or our practices with regard to your personal information, please contact us at info@aamalalarif.com.</p>
    
        <h2>Information We Collect</h2>
        <p>We collect personal information that you voluntarily provide to us when you register on the website, express an interest in obtaining information about us or our products and services, when you participate in activities on the website, or otherwise when you contact us.</p>
        <ul>
            <li><strong>Personal Information:</strong> We collect names, email addresses, contact preferences, and other similar information.</li>
            <li><strong>Payment Data:</strong> We may collect data necessary to process your payment if you make purchases, such as your payment instrument number (e.g., a credit card number), and the security code associated with your payment instrument.</li>
        </ul>
    
        <h2>How We Use Your Information</h2>
        <p>We use the information we collect or receive:</p>
        <ul>
            <li>To send you marketing and promotional communications.</li>
            <li>To send administrative information to you.</li>
            <li>To fulfill and manage your orders.</li>
            <li>To post testimonials.</li>
            <li>To protect our services.</li>
            <li>To enforce our terms, conditions, and policies.</li>
            <li>To respond to legal requests and prevent harm.</li>
            <li>For other business purposes such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns, and to evaluate and improve our services, products, marketing, and your experience.</li>
        </ul>
    
        <h2>Sharing Your Information</h2>
        <p>We only share and disclose your information in the following situations:</p>
        <ul>
            <li>Compliance with Laws.</li>
            <li>Vital Interests and Legal Rights.</li>
            <li>Business Transfers.</li>
            <li>With your Consent.</li>
        </ul>
    
        <h2>Security of Your Information</h2>
        <p>We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse.</p>
    
        <h2>Your Privacy Rights</h2>
        <p>In some regions, you have certain rights under applicable data protection laws. These may include the right to (i) request access and obtain a copy of your personal information, (ii) request rectification or erasure; (iii) restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information.</p>
    
        <h2>Contact Us</h2>
        <p>If you have questions or comments about this Privacy Policy, please contact us at:</p>
        <p>Email: info@aamalalarif.com</p>
        <p>Address: 
            +966 53 552 8371
            info@aamalalarif.com
            Prince Nayif Street, Cross 11,
            Shamaliyah Al Khobar Po Box -430
            Kingdom of Saudi Arabia</p>
     </div>
     <!-- Start Footer Section -->
     
    <!-- End Footer Section -->	
     
    {% endblock content %}

{% block script %}{% endblock script %}
