      {% extends "base.html" %}
      {% load static %}
      {% block link %}{% endblock link %}
		<!-- End Header/Navigation -->
		 {% block content %}
    <div class="hero">
        <h1><span>.</span>Products</h1>
        <div class="breadcrumb">
            <a href="#"><span>.</span>Home</a> / <a href="{% url "catalogue:products" %}">Products</a> / <a href="#">US Steel Conduit and Fittings</a> / 
            <a href="#">EMT Conduit & Fittings</a> / <span>Product Name</span>
        </div>
    </div>

    <!-- Start Product Details Section -->

    <div class="products-details-main">
        <div class="container">
            <div class="containerp">

                <main class="product-details">
                    <div class="image-gallery">
                        <!-- Minimum 3 images for the gallery -->
                        <img src="{% static "images/product-1.png" %}" alt="Product Image">
                        <img src="{% static "images/product-2.png" %}" alt="Product Image">
                        <img src="{% static "images/product-3.png" %}" alt="Product Image">
                    </div>
                    <div class="description">
                        <h2>Product Name</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit id nulla at ultrices. Nam in turpis libero.</p>
                    </div>
                    <div class="contact-supplier">
                        <button class="btn contact-supplierb" >Contact Supplier</button>
                    </div>
                    <div class="product-details-grid">
                        <h2>Product Details</h2>
                        <!-- Product details with image grid -->
                        <div class="product-details-item">
                            <img src="{% static "images/detail1.jpg" %}" alt="Detail Image">
                            <p>Detail description 1</p>
                        </div>
                        <div class="product-details-item">
                            <img src="{% static "images/detail2.jpg" %}" alt="Detail Image">
                            <p>Detail description 2</p>
                        </div>
                        <div class="product-details-item">
                            <img src="{% static "images/detail3.jpg" %}" alt="Detail Image">
                            <p>Detail description 3</p>
                        </div>
                        <!-- Add more details as needed -->
                    </div>
                </main>
            </div> 
        </div>
    </div>
    <!-- End Product Details Section -->
   
    <!-- Start Footer Section -->
	
		<!-- End Footer Section -->	
		{% endblock content %}
		{% block script %}
	
		<script src="{% static "js/script.js" %}"></script>
      
       {% endblock script %}