    {% extends "base.html" %}
    {% load static %}
    {% block link %}

	<style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        .wrapper {
            display: flex;
            align-items: stretch;
        }
        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #161a37;
            color: #fff;
            transition: all 0.3s;
        }
        #sidebar.active {
            margin-left: -250px;
        }
        #sidebar ul.components {
            padding: 20px 0;
        }
        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }
        #content {
            width: 100%;
        }

		#sidebarCollapse {
			border-radius: 0px;
			background-color: #161a37; 
			border: none;
		}
		
		#sidebarCollapse:hover {
			background-color: #161a37; 
			box-shadow: none;
			cursor: default;
		}

		
    </style>

    {% endblock link %}

	{% block content %}

	


		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Products</h1>
								<p class="">Our comprehensive selection of EMT conduits and fittings. Our product range is designed to deliver superior performance and durability for all your electrical needs. From standard fittings to specialized components, each product is crafted to meet rigorous quality standards and ensure reliability. Browse our catalog to find detailed descriptions and specifications, and contact us for any custom requirements or further assistance.</p>
								<p><a href="{% url "authentication:contact" %}" class="btn btn-secondary me-2">Get a quot</a><a href="{% static "docs/aamal al arif home page preview.pdf" %}" download class="btn btn-white-outline">Brochure</a></p>
								<!-- 								<div class="dropdown mt-4">

									<a class="dropdown-toggle nav-link text-light h6" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									  Show all cotegories
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="{% url 'catalogue:products'%}">
												All Categories												
											</a>
										</li>
										{% for i in categories %}
										<li>
											<a class="dropdown-item" href="{% url 'catalogue:products_by_category' i.id %}">
												{{ i.cat_name }}												
											</a>
										</li>
									  {% endfor %}
									</ul>
								</div> -->
							</div>
						</div>
						<div class="col-lg-7">
						    <div class="hero-img-wrap">
								
							</div> 
						</div> 
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
				
		
		
		<div class="wrapper">
			<!-- Sidebar -->
			<nav id="sidebar">
				<ul class="list-unstyled components">
					{% if categories %}
					<li>
						<a class="text-light" href="{% url 'catalogue:products'%}">
							All Categories												
						</a>
					</li>
					{% for i in categories %}
					<li class="active">
						<a href="#submenu{{ i.pk }}" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-light">{{ i.cat_name }}</a>
						<ul class="collapse list-unstyled" id="submenu{{ i.pk }}">
							{% if i.subcategories.all %}
								{% for j in i.subcategories.all %}
									<li>
										<a href="{% url 'catalogue:products_by_category' j.id %}" class="text-light">{{ j.cat_name }}</a>
									</li>
								{% endfor %}
							{% else %}
								<li>
									<a href="{% url 'catalogue:products_by_category' i.id %}" class="text-light">{{ i.cat_name }}</a>
								</li>
							{% endif %}
						</ul>
					</li>
				{% endfor %}
				
					{% else %}
						<div class="container">
							<p class="text-light">Empty Categories</p>
						</div>
					{% endif %}
				</ul>
			</nav>
	
			<!-- Page Content -->
			<div id="content">
				<button type="button" id="sidebarCollapse" class="btn btn-sm btn-primary mx-0" style="border-radius: 0px;">
					Categories
				</button>
				<div class="container mt-5">
					<div class="row">
						{% if products %}
						{% for product in products %}
						<div class="col-md-3 mb-4"> <!-- Responsive column -->
							<a href="{% url 'catalogue:prod_details' product.id %}">
								<div class="product-card p-3 border rounded">
									<img src="{{ product.images.url }}" alt="img not found" class="img-fluid">
									<h3 class="mt-2  text-truncate">{{ product.product_name }}</h3>
									<p class="text-truncate">{{ product.description }}</p>
									<p><strong>Price:</strong> {{ product.price|floatformat:2 }}</p> <!-- Formatting price -->
									<p><strong>Stock:</strong> {{ product.stock }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
						{% endif %}
					</div>
				</div>		
			</div>
		</div>
	
		<script>
			document.getElementById('sidebarCollapse').addEventListener('click', function () {
				document.getElementById('sidebar').classList.toggle('active');
			});
		</script>



						
						 
						
						
							
						
						</div>
					  </div>
					</div>
				</div>
				
				</div>


			</div>
			
		</div>
	
		<!-- End Products Section -->

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="{% static "images/envelope-outline.svg" %}" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><img class="footer-logo" src="{% static "./images/company-logo.png" %}" alt="company logo"></div>
						<p class="mb-4">+966 53 552 8371<br/>
							info@aamalalarif.com<br/>
							Prince Nayif Street,
							Cross 11,<br/>
							Shamaliyah Al Khobar
							Po Box -430<br/>
							Kingdom of Saudi Arabia</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<h6 style="color: black;">Infos</h6>
								<ul class="list-unstyled">
									<li><a href="./index.html">Home</a></li>
									<li><a href="./about.html">About us</a></li>
									<li><a href="./certification.html">Certification</a></li>
									<li><a href="./contact.html">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<h6 style="color: black;">Keys</h6>
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Availability</a></li>
									<li><a href="#">Reliability</a></li>
									<li><a href="#">Knowledge base</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<h6 style="color: black;">Links</h6>
								<ul class="list-unstyled">
									<li><a href="blog.html">Blogs</a></li>
									<li><a href="./products.html">Products</a></li>
									<li><a href="privacypolicy.html">Privacy Policy</a></li>
									<li class="me-4"><a href="termsandconditions.html">Terms &amp; Conditions</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<h6 style="color: black;">Picks</h6>
								<ul class="list-unstyled">
									<li><a href="#">Wiring Tools</a></li>
									<li><a href="#">Electrical Conduit</a></li>
									<li><a href="#">Cable Management</a></li>
									<li><a href="#">Pipe Support System</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; <a>Aamal Al Arif Trading Est.</a>  <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="termsandconditions.html">Terms &amp; Conditions</a></li>
								<li><a href="privacypolicy.html">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	
        
		
		
	{% endblock content %}
		
	
	{% block script %}

		<script src="{% static "js/script.js" %}"></script>

    {% endblock script %}