{% extends "base.html" %}
{% load static %}
	<!-- End Header/Navigation -->
     {% block link %}{% endblock link %}
    {% block content %}
    <div class="popular-product">
        <div class="container">
            <div class="row">
                <div class="containert">
                    <h1>Terms and Conditions</h1>
                    <p>Effective Date: 01/08/2024</p>
                
                    <h2>Introduction</h2>
                    <p>Welcome to Aamal Al Arif Trading Est. These Terms and Conditions govern your use of our website and services. By accessing or using our website, you agree to comply with and be bound by these terms. If you do not agree to these terms, please do not use our website.</p>
                
                    <h2>Intellectual Property Rights</h2>
                    <p>Unless otherwise indicated, all content on this website, including but not limited to text, graphics, logos, icons, images, audio clips, video clips, and software, is the property of Aamal Al Arif Trading Est or its content suppliers and protected by applicable intellectual property laws. You may not reproduce, distribute, modify, display, perform, or use the content in any way without our prior written permission.</p>
                
                    <h2>Use of Our Services</h2>
                    <p>You agree to use our website and services only for lawful purposes and in a way that does not infringe the rights of, restrict, or inhibit anyone else's use and enjoyment of the website. Prohibited behavior includes harassing or causing distress or inconvenience to any other user, transmitting obscene or offensive content, or disrupting the normal flow of dialogue within our website.</p>
                
                    <h2>Privacy Policy</h2>
                    <p>Your use of our website is also governed by our Privacy Policy. Please review our Privacy Policy, which explains how we collect, use, and protect your personal information.</p>
                
                    <h2>Limitation of Liability</h2>
                    <p>To the fullest extent permitted by law, Aamal Al Arif Trading Est shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from (i) your use or inability to use the website; (ii) any unauthorized access to or use of our servers and/or any personal information stored therein; (iii) any interruption or cessation of transmission to or from the website; (iv) any bugs, viruses, trojan horses, or the like that may be transmitted to or through our website by any third party; (v) any errors or omissions in any content; and/or (vi) any defamatory, offensive, or illegal conduct of any third party.</p>
                
                    <h2>Indemnification</h2>
                    <p>You agree to indemnify, defend, and hold harmless Aamal Al Arif Trading Est, its officers, directors, employees, agents, licensors, and suppliers from and against all claims, losses, liabilities, expenses, damages, and costs, including reasonable attorneys' fees, arising out of or relating to your use of our website, your violation of these Terms and Conditions, or your infringement, or infringement by any other user of your account, of any intellectual property or other right of any person or entity.</p>
                
                    <h2>Changes to These Terms</h2>
                    <p>We may revise these Terms and Conditions from time to time. The most current version of the terms will be available on our website. You are encouraged to review these terms periodically. By continuing to access or use our services after those revisions become effective, you agree to be bound by the revised terms.</p>
                
                    <h2>Governing Law</h2>
                    <p>These terms shall be governed and construed in accordance with the laws of Kingdom of Saudi Arabia, without regard to its conflict of law provisions. Our failure to enforce any right or provision of these terms will not be considered a waiver of those rights. If any provision of these terms is held to be invalid or unenforceable by a court, the remaining provisions of these terms will remain in effect.</p>
                
                    <h2>Contact Us</h2>
                    <p>If you have any questions about these Terms and Conditions, please contact us at:</p>
                    <p>Email: info@aamalalarif.com</p>
                    <p>Address: 
                        +966 53 552 8371
                        info@aamalalarif.com
                        Prince Nayif Street, Cross 11,
                        Shamaliyah Al Khobar Po Box -430
                        Kingdom of Saudi Arabia</p>
                 </div>
            </div>
        </div>
    </div> 

    <!-- Start Footer Section -->

 {% endblock content %}
   <!-- End Footer Section -->
{% block script %}{% endblock script %}
